GEMINI_API_KEY=
SS_NLP_MODEL_DIR=models/nlp
SS_CALC_MODEL_DIR=models/calculation_individual
SS_LAYERING_MODEL_DIR=models/calculation_layering
SS_DATASET2=data/ingredient_profiles.csv
SS_DATASET3=data/layering_compatibility.csv
SS_LLM_ENABLED=true
SS_MAX_INGREDIENTS=60